@model ConvocaApp.Models.EventsModel

@{
    ViewData["Title"] = "Create Event";
    Layout = "_StartApp";
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /><hr />*@

<body>
    <section class="header_login">
        <h1>Convoca tu Evento</h1>
    </section>
    <section class="form-register">        
        <form asp-action="Create">
            <label asp-for="category" class="controls1">Categoria</label>
            <select asp-for="category" class="controls">
                <option value="" disabled selected hidden>--Selecciona Categoria--</option>
                <option value="Adulto">Adulto</option>
                <option value="Joven">Joven</option>
                <option value="Niño">Niño</option>
            </select>

            <label asp-for="sex" class="controls1">Sexo</label>
            <select asp-for="sex" class="controls">
                <option value="" disabled selected hidden>--Elige Sexo--</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Mixto">Mixto</option>
            </select>

            <label asp-for="reserve" class="controls1">Reservación</label>
            <select asp-for="reserve" class="controls">
                <option value="" disabled selected hidden>--Reservada--</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>

            <label asp-for="date" class="controls1">Fecha del Evento</label>
            <input asp-for="date" type="date" class="controls" />

            <label asp-for="hour" class="controls1">Hora del Evento</label>
            <span class="selectTime">
                <select asp-for="hour" class="controls" style="width:80px;">
                    <option value="" disabled selected hidden>--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                <span class="controls1"> : </span>

                <select asp-for="minute" class="controls" style="width:80px;">
                    <option value="" disabled selected hidden>--</option>
                    <option value="00"> 00 </option>
                    <option value="30"> 30 </option>
                </select>
                <span class="controls1"> </span>


                <select asp-for="meridian" class="controls" style="width:103px;">
                    <option value="" disabled selected hidden>--</option>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </span>

            <label asp-for="cost" class="controls1">Costo</label>
            <input asp-for="cost" class="controls" placeholder="Costo" />

            <label asp-for="paymment" class="controls1">Forma de pago</label>
            <select asp-for="paymment" class="controls">
                <option value="" disabled selected hidden>--Selecciona Forma de Pago--</option>
                <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                <option value="Tarjeta Débito">Tarjeta Débito</option>
                <option value="Efectivo">Efectivo</option>
            </select>
            @*<span asp-validation-for="paymment" class="text-danger"></span>*@

            <label asp-for="place_id" class="controls1">Lugar del Evento</label>
            <select asp-for="place_id" class="controls">
                @foreach (var lugar in ViewBag.Lugares)
                {
                    <option value="" disabled selected hidden>--Elige el lugar-</option>
                    <option value="@lugar.Id">@lugar.name</option>
                }
            </select>

            <label asp-for="sport_id" class="controls1">Deporte</label>
            <select asp-for="sport_id" class="controls">
                @foreach (var deporte in ViewBag.Deportes)
                {
                    <option value="" disabled selected hidden>--Elige el Deporte--</option>
                    <option value="@deporte.Id">@deporte.name</option>
                }
            </select>

            <div class="form-group">
                <input type="submit" value="Crear" class="botons" />
            </div>
        </form>        
    </section>

    <div>
        <a asp-action="Index">Regresa a la lista</a>
    </div>
</body>
@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<style>
    .selectTime {
        display: inline-flex;
    }
</style>

