@model ConvocaApp.Models.ConvocadosModel

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Convocados";
    Layout = "_StartApp";
}

<section class="header_login">
    <h1>Participar en este evento</h1>
</section>

@*<section class="form-register" asp-action="Create">*@    
        <form class="form-register" asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="event_id" class="control-label"></label>
                <input asp-for="event_id" class="form-control" />
                <span asp-validation-for="event_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>*@
            
                <div class="details_menu_main">
                    <a class="botons" href="https://localhost:44304/Convoca/Index"> Home </a>
                    <input type="submit" value="Quiero participar" class="botons" />
                </div>
        </form>    
@*</section>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
