@model ConvocaApp.Models.SportsModel

<h1>Estas seguro que quieres borrar este deporte?</h1>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Deporte
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Número de Jugadores
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.playerNumber)
        </dd>
        <dt class = "col-sm-2">
            Accesorios
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accesories)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar Deporte" class="btn btn-danger" /> |
        <a asp-action="Index">Regresa a la lista</a>
    </form>
</div>
