

@{
    ViewData["Title"] = "Portada de Aplicación";
    Layout = "_StartApp";    
}
   

    <body>

        <nav>
            <div class="container">
                <section class="header_index">
                    <img class="index_mainImage" src="~/asset/images/convoca/convoca.png" alt="Logo de Convoca" />
                </section>
                <section class="menu">
                    <a class="cuenta-icon" title="Cuenta" href="https://localhost:44304/Cuenta/Index"></a>
                    <a class="misEventos-icon" title="Mis Eventos" href="https://localhost:44304/Events/Index"></a>
                    <a class="deportes-icon" title="Deportes" href="https://localhost:44304/sports/Index"></a>
                    @*<a class="exit-icon" title="Salir" href="#">@Html.ActionLink("", "Logout", "Users")</a>*@
                    @*@Html.ActionLink("Salir", "Logout", "Users", new { id = "Futbol" })*@
                    @*@Html.ActionLink("Salir", "Logout", "Users")*@
                    @Html.ActionLink("", "Logout", "Users", new object { }, new { @class = "exit-icon", title="Salir" })
                </section>
            </div>
        </nav>
        <hr class="line-split"/>


        @*<section>*@
        @*<div class="container">*@
        <div class="main_section">
            <h1 class="main_comment">
                <strong>TUUU...!!! </strong>estás <strong>Convocado!!! para jugar </strong>
                donde quieras, <strong>cuando quieras</strong>
            </h1>
            @*<div>
                <img class="main_image" src="~/asset/images/general.jpg" alt="Imagen Principal del sitio" />
            </div>*@
        </div>
        @*</div>*@
        @*</section>*@

        @*/////////////MENU - CONTENT EVENTS/////////////  *@

        @*<div class="container">*@
        <div class="events">
            <div class="event">
                <div class="event_content">
                    <h1>CONVOCA</h1>
                    <div>
                        <img class="event-image" src="~/asset/images/zidane.gif" alt="Imagen de Futbol" />
                    </div>
                    <p>Convoca tus equipos, ejercitate, compite!!!</p>
                    <a class="event_button" href="https://localhost:44304/Events/Create" target="_blank">Crea tu Evento</a>
                </div>
            </div>
            <div class="event">
                <div class="event_content">
                    <h1>CONVOCATORIAS</h1>
                    @*<div class="event-image">*@
                    <div>
                        <img class="event-image" src="~/asset/images/convocatorias.gif" alt="Imagen de Ciclismo" />
                    </div>
                    <p>Quieres competir?... retalos, te están esperando!</p>
                    <a class="event_button" href="https://localhost:44304/Events/Index/AllEvents" target="_blank">Te están esperando</a>
                </div>
            </div>
        </div>
        @*</div>*@





        <section id="contacto" class="contact">
            <div class="container">
                <form action="/Suscripcion/" class="form-email">
                    <h3>¿Convocamos algo juntos?</h3>
                    <input type="text" placeholder="  Déjame tu email" id="email" />
                    <button>Enviar</button>
                </form>
                <div class="social">

                    <a href="https://twitter.com/dani_msgs" class="social_link twitter" target="blank1"></a>

                    <a href="https://www.facebook.com/dani.msgs" class="social_link facebook" target="blank2"></a>

                    <a href="https://github.com/DaniMeneses10" class="social_link github" target="blank3"></a>

                    <a href="https://www.instagram.com/dani_msgs/" class="social_link instagram" target="blank4"></a>

                    <a href="https://www.linkedin.com/in/daniel-meneses-guacas/" class="social_link linkedin" target="blank5"></a>

                </div>
            </div>
        </section>

    </body>

