/*///////////VARIABLES/////////////*/
:root {
    --darkblue-color: #1b2127; /*#24303c*/
    --white-color: white;
    --deepskyblue-color: #1f53c5;
    --lightslategray-Color: lightslategray;
}


body{
    background-color:var(--darkblue-color);
}
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*////////////////        MAIN MENU      ///////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
.header_login{
    text-align:center;
    align-items:center;
    background-color:var(--white-color);
    padding:30PX;
    height:230px;
}

.login_mainImage {
    padding: 20px;
    width:1200px;
}

/*//////////////////////////// EVENTOS //////////////////////////////*/

.smallEvents {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--darkblue-color);
    height:320px;
}

.smalEvent {
    padding: 0;
    margin: 20px;
    /*resize:both;*/
    position:relative;
}

.smallEvent_content {
    width:250px;
    height:250px;
/*    box-shadow: 0 0 10px var(--deepskyblue-color);*/
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    color: var(--white-color);
    position:relative;
    display:inline-block;
    text-align:center;
}

.smallEvent_image {
    width: 250px;
    height: 250px;
    
}

.smallEvent_sport {
    color: var(--white-color);
    /*color:black;*/
    font-size: 30px;
    position: absolute;
    margin: -60px;
    margin-left: 80px;
    text-align: center;
    align-items: center;
    font-weight:600;
}

.smallEvent_sport a{
    color: var(--white-color);   
}
    .smallEvent_sport a:hover {
/*        background-color: var(--deepskyblue-color);*/
        cursor: pointer;
        color: var(--deepskyblue-color);
    }


.smallEvent_button{
    text-align:center;
}

.smallEvent_button a {
    box-shadow: 0 0 15px var(--deepskyblue-color);
    background-color: var(--white-color);
    color: var(--darkblue-color);
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 10px;
}

    .smallEvent_button a:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }

/*/////////////////////////REGISTRATE - INICIAR SESIÓN///////////////////////*/

.logins {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:var(--darkblue-color);
}
.login {
    padding: 30px;
    margin:20px;
}
.login_content {
    box-shadow: 0 0 10px var(--deepskyblue-color);
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    color:var(--white-color);
}

.login_content h2{
    font-size:40px;
    padding-top:20px;
    padding-bottom:40px;
}
.login_content h3 {
    padding-bottom: 20px;
}
.login_button_register {
    box-shadow: 0 0 15px var(--deepskyblue-color);
    background-color: var(--white-color);
    color: var(--darkblue-color);    
    padding: 20px;    
    font-size: 20px;
    border-radius: 10px;
}
    .login_button_register:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }
.login_button_signin {
    box-shadow: 0 0 15px var(--deepskyblue-color);
    background-color: var(--white-color);
    color: var(--darkblue-color);
    padding: 20px;
    padding-right:40px;
    padding-left:40px;
    font-size: 20px;
    border-radius: 10px;
}

    .login_button_signin:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }

    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*//////////////////        CREATE USER          //////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/

.header_login h1{
    font-size:90px;
    color:var(--deepskyblue-color);
    align-items:center;
    justify-content:center;
    padding-top:inherit;    
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius:4px;
    font-family:'Calibri';
    color:var(--white-color);
    box-shadow: 7px 13px 37px var(--deepskyblue-color);
}

.controls{
    width:100%;
    background:var(--darkblue-color);
    padding:10px;
    border-radius:4px;
    margin-bottom:16px;
    border:1px solid var(--deepskyblue-color);
    font-size:18px;
    color: var(--white-color);
}


.form-register p{
    height:40px;
    text-align:center;
    font-size:18px;
    line-height:40px;
}

.form-register a{
    color:var(--white-color);
    text-decoration:none;
}

.form-register a:hover {
        background-color: var(--deepskyblue-color);
        cursor:pointer;
        color: var(--white-color);
        text-decoration: none;
    }
.form-register .botons {
    width: 100%;
    background-color: var(--white-color);
    border: none;
    padding: 12px;
    color: var(--darkblue-color);
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 0 0 15px var(--deepskyblue-color);
    border-radius: 10px;
}

    .form-register .botons:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }


    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*//////////////////        INDEX          ////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////*/

.container {
    width: 1500px;
    margin:0 auto;
    display:inherit;
    justify-content:inherit;
    height:inherit;
    align-items: inherit;
}
/*//////////////HEADER///////////Nav*/
nav {
    display: flex;
    background-color: var(--deepskyblue-color);
    padding: 10px;
    color: var(--darkblue-color);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 30PX;
    height: 230px;
}

.header_index {
    text-align: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 30PX;
    height: 230px;
    display: flex;
}

.index_mainImage {
    padding: 20px;
    width: 800px;   
}

    nav ul{
        display:flex;
        padding-left:200px;
        font-size:30px;
    }
        nav li{
            padding-left:20px;
            list-style: none;            
        }
            nav li a {
                color: var(--darkblue-color); 
                text-decoration: none;
            }
            nav li a:hover{
                color:blue; 
            }

/*//////////////MAIN SECTION - HERO//////////////*/
.main_section {
    padding: 20px;
    display: flex;
    height:350px;
    align-items: center;
}
    .main_image {
        border-radius: 5px;
        width:80%;
        height: 80%;    
    }
    .main_comment {
        color: var(--white-color); 
    }
    .main_comment strong{
        color:var(--deepskyblue-color);
    }

  
/*////////////////////MENU - CONTENT EVENTS///////////////////*/
.events {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 30px; 
}

    .event {
        padding: 20px;
    }
        .event .event_content .event_image {
            padding:20px;
            border-radius:5px;
        }
        .event .event_content {
            background-color: var(--white-color);
            padding: 30px;
            border-radius:5px;
            box-shadow: 0 0 10px var(--deepskyblue-color);
        }
            .event .event_content p{
                padding:10px;
            }



.event_button {
    box-shadow: 0 0 15px var(--deepskyblue-color);
    background-color: var(--darkblue-color);
    color: var(--white-color);
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 10px;
}

    .event_button:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
}

/*////////////////////FOOTER-CONTACT//////////////////////////////*/

.contact{
    background-color:var(--deepskyblue-color);
    color:var(--white-color);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.social {
/*    border:1px solid red;*/
}
.social_link {
    display: inline-block;
    width: 50px;
    height: 50px;
/*    border: 1px solid red;*/
    background-size: 50px 50px;
/*    padding-left:10px;*/
}
    .social_link.twitter {
        background-image: url('../asset/images/twitter.png');
    }

    .social_link.facebook {
        background-image: url('../asset/images/Facebook.png');
    }

    .social_link.github {
        background-image: url('../asset/images/github.png');
    }

    .social_link.instagram {
        background-image: url('../asset/images/Instagram.jpg');
    }

    .social_link.linkedin {
        background-image: url('../asset/images/Linkedin.png');
    }
.form-email {
    display: inline-block;
}

    .form-email input {
        border-color: gray;
        border-style: solid;
        border-radius: 5px;
        padding: 10px 20px 10px 50px;
        background-image: url('../asset/images/envelope.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 5px;
    }
    .form-email button {
        display: inline;
        margin-top: 10px;
        background: transparent;
        color: var(--white-color);
        padding: 5px 0px;
        border-radius: 5px;
        width: 100px;
        margin: 10px auto 0;
        }
        .form-email h3 {
            font-family: 'Source Sans Pro', sans-serif;
        }


/*/////////////////////////  CREATE EVENT  ////////////////////////////////*/

table {
    width: 85%;
    margin: 150px;
    text-align: center;
    box-shadow: 0 0 10px var(--deepskyblue-color);
    color: white;   
    border-collapse:collapse;    
}
th{
    align-items:center;
    text-align:center;
    font-size:20px;
}

th,td {
        /*border: 1px solid var(--deepskyblue-color);*/
        padding: 20px;    
        color:white;
    }

thead{
    background-color: var(--deepskyblue-color);
    border-bottom:solid 5px;
    color:var(--white-color);
}

tr:nth-child(even){
    background-color:var(--deepskyblue-color);    
}

tr:hover td{
    background-color:var(--white-color);
    color:black;
}

.events_menu {
    width: 5%;
    background-color: var(--white-color);
    border: none;
    padding: 12px;
    color: var(--darkblue-color);
    margin: 16px;
    margin-left: 500px;
    font-size: 16px;
    box-shadow: 0 0 15px var(--deepskyblue-color);
    border-radius: 10px;
    text-align: center;
}

    .events_menu:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }

/*//////////////////////  SPORTS TABLE - INDEX   //////////////////////*/
.sports_table {
    width: 50%;
    margin: 100px;
    margin-left:500px;
    text-align: center;
    box-shadow: 0 0 10px var(--deepskyblue-color);
    color: white;
    border-collapse: collapse;
}

.sports_menu {
    width: 5%;
    background-color: var(--white-color);
    border: none;
    padding: 12px;
    color: var(--darkblue-color);
    margin: 16px;
    margin-left:500px;
    font-size: 16px;
    box-shadow: 0 0 15px var(--deepskyblue-color);
    border-radius: 10px;
    text-align:center;
}

.sports_menu:hover {
    background-color: var(--deepskyblue-color);
    cursor: pointer;
    color: var(--white-color);
}

.details_menu_main_sports {
    display: flex;
    margin-top: 0;
    /*padding-left:50px;*/
    align-items: center;
    text-align: center;
}

.sport-list{
    align-items:center;
    text-align:center;
     

}

.sport-list a {
    color: var(--white-color);
    text-decoration: none;
}

    .sport-list a:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
        text-decoration: none;
    }

.sport-list .botons {
    width: 10%;
    background-color: var(--white-color);
    border: none;
    padding: 12px;
    color: var(--darkblue-color);
    margin: 0px 0 0 900px;
    font-size: 16px;
    box-shadow: 0 0 15px var(--deepskyblue-color);
    border-radius: 10px;
}

    .sport-list .botons:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }
/*//////////////////////  PLACES TABLE - INDEX   //////////////////////*/

.places_table {
    width: 60%;
    margin: 100px;
    margin-left: 450px;
    text-align: center;
    box-shadow: 0 0 10px var(--deepskyblue-color);
    color: white;
    border-collapse: collapse;
}

.places_menu {
    width: 5%;
    background-color: var(--white-color);
    border: none;
    padding: 12px;
    color: var(--darkblue-color);
    margin: 16px;
    margin-left: 500px;
    font-size: 16px;
    box-shadow: 0 0 15px var(--deepskyblue-color);
    border-radius: 10px;
    text-align: center;
}

    .places_menu:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }
/*//////////////////////  PLACES TABLE - INDEX   //////////////////////*/
.events_list{
    align-items:center;
    text-align: center;
    margin-left:400px;
    margin-right:400px;
    padding:50px;
/*    padding-left:50px;*/
}
.events_border {
    box-shadow: 0 0 15px var(--deepskyblue-color);
    padding: 10px;
}

.event_item{
    display:flex;
    align-items:center;
    text-align:left;
    padding-left:50px;
}

    .event_item h1, h2, h3, h4, h5, h6 {
        color: white;
        padding: 3px;
    }
.event_details_list{
    padding:5px 5px 0px 40px;
    /*padding-left:40px;*/
}



/*//////////////////////  USERS DETAILS   //////////////////////*/
.user_details {
    width: 20%;
    margin: 90px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 0 10px var(--deepskyblue-color);
    color: white;
    border-collapse: collapse;
    align-items: center;
}

dt {
    align-items: center;
    text-align: center;
    font-size: 20px;
}

dt, dd {
    /*border: 1px solid var(--deepskyblue-color);*/
    padding: 15px;
    color: white;
}

.details_menu_main {
    display: flex;
    margin-top:0;
    /*padding-left:50px;*/
    align-items:center; 
    text-align:center;
}

.details_menu {
    width: 50%;
    background-color: var(--white-color);
    border: none;
    padding: 12px;
    color: var(--darkblue-color);
    margin: 10px;
/*    margin-left: 50px;*/
    margin-top:0;
    font-size: 16px;
    box-shadow: 0 0 15px var(--deepskyblue-color);
    border-radius: 10px;
    text-align: center;
}

    .details_menu:hover {
        background-color: var(--deepskyblue-color);
        cursor: pointer;
        color: var(--white-color);
    }

.col-sm-2{
    padding:10px;
}

.col-sm-10{
    align-items:center;
    padding-left:60px;
    text-align:left;
}



/*//////////////////////  EVENTS DETAILS   //////////////////////*/

.event_details {
    display:flex;
    width: 80%;
    box-shadow: 0 0 10px var(--deepskyblue-color);
    margin: 90px;
    margin-bottom: 50px;
    margin-right:800px;
    padding: 30px;
    text-align: left;
    
    color: white;
    border-collapse: collapse;
    align-items: center;
}

.event_details dt {
    align-items: center;
    text-align: right;
    font-size: 20px;       
}

    .event_details dd {
        align-items: center;
        text-align: left;
        font-size: 20px;
        margin-left: 5500px;
        /*align-items: center;*/
        padding-left: 20px;
        text-align: left;
        padding: 15px;
        margin: 0;
    }

.event_details dt, dd {
/*    border: 1px solid var(--deepskyblue-color);*/
    padding: 15px;
    color: white;
}

    .event_details .details_menu_main {
        display: flex;
        margin-top: 0;
        padding-left: 50px;
    }

    .event_details .details_menu {
        width: 10%;
        background-color: var(--white-color);
        border: none;
        padding: 12px;
        color: var(--darkblue-color);
        margin: 10px;
        margin-left: 50px;
        margin-top: 0;
        font-size: 16px;
        box-shadow: 0 0 15px var(--deepskyblue-color);
        border-radius: 10px;
        text-align: center;
    }

        .event_details .details_menu:hover {
            background-color: var(--deepskyblue-color);
            cursor: pointer;
            color: var(--white-color);
        }




