@model ConvocaApp.Models.UsersViewModel

@{
    Layout = "_StartApp";
}
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

<body>
    <section class="header_login">
        <h1>Registrar tu Usuario</h1>
    </section>
    <section class="form-register">
        <form asp-action="Create">
            <input asp-for="name" class="controls" type="text" placeholder="Nombre" />
            <input asp-for="age" class="controls" type="number" placeholder="Edad" />
            <input asp-for="cellphone" class="controls" placeholder="Teléfono" />
            <input asp-for="email" class="controls" type="email" placeholder="Email" />
            <input asp-for="password" Class="controls" type="password" placeholder="Password" />

            <select asp-for="sex" class="controls">
                <option value="" disabled selected hidden>--Elige Sexo--</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>

            <label asp-for="addressStreet" class="controls1">Ingresa tu Dirección</label>
            <select asp-for="addressStreet" class="controls">
                <option value="" disabled selected hidden>----</option>
                <option value="Calle">Calle </option>
                <option value="Carrera">Carrera </option>
                <option value="Diagonal">Diagonal </option>
                <option value="Transversal">Transversal </option>
                <option value="Avenida Calle">Avenida Calle </option>
                <option value="Avenida Carrera">Avenida Carrera </option>
            </select>

            <input asp-for="addressNumber1" class="controls" placeholder="  Noº  " style="width:103px;" />
            <span class="controls1"> # </span>
            <input asp-for="addressNumber2" class="controls" placeholder="  Noº  " style="width:103px;" />
            <span class="controls1"> - </span>
            <input asp-for="addressNumber3" class="controls" placeholder="  Noº  " style="width:103px;" />
            
            <select asp-for="addressLocation" class="controls">
                <option value="" disabled selected hidden>--Zona--</option>
                <option value="Norte">Norte</option>
                <option value="Sur">Sur</option>
                <option value="Centro">Centro</option>
                <option value="Occidente">Occidente</option>
                <option value="Oriente">Oriente</option>
            </select>

            <select asp-for="city" class="controls">
                @foreach (var ciudad in ViewBag.Ciudades)
                {
                    <option value="" disabled selected hidden>--Elije tu Ciudad--</option>
                    <option value="@ciudad.city">@ciudad.city</option>
                    //La tabla me toma el valor
                }
            </select>
            <input type="submit" value="Crear" class="botons" />
        </form>
    </section>


    @*<div>
        <a asp-action="Index">Regresa a la lista</a>
    </div>*@
</body>





