@model ConvocaApp.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_StartApp";
}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/js/login.js"></script>

<script src="~/js/jquery.cookie.js"></script>

<body>

    <section class="header_login">
        <h1>Inicia tu sesión</h1>
    </section>
    <section class="form-register">
        <form asp-action="Login">
            <input id="email" asp-for="email" class="controls" type="email" name="email" placeholder="Email" />
            <input id="password" asp-for="password" Class="controls" type="password" name="password" placeholder="Password" />
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>

            @*<input id="login" class="botons" type="submit" value="Login" />*@
            <input id="login" class="botons" type="button" value="Login" />

            @*<a class="botons" href="https://localhost:44304/users/create" target="_blank">Registrate</a>*@

            <a class="botons" href="https://localhost:44304/users/create">Registrate</a>
        </form>

    </section>

</body>


